<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Stefan Popa" />
    <meta
      name="keywords"
      content="masina, coupe, sedan, SUV, hatchback, estate, sport"
    />
    <meta name="description" content="Anunturi cu masini de vanzare" />

    <title>AutoTrade</title>

    <!-- Icon
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./resurse/ico/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./resurse/ico/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./resurse/ico/favicon-16x16.png"
    />
    <link rel="manifest" href="./resurse/ico/site.webmanifest" />
    <link
      rel="mask-icon"
      href="./resurse/ico/safari-pinned-tab.svg"
      color="#00a1ff"
    />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#bbe6ff" /> -->

    <!-- CSS
    <link href="./resurse/css/main.css" rel="stylesheet" type="text/css" />
    <link
      href="./resurse/css/nav.css"
      rel="stylesheet"
      media="screen"
      type="text/css"
    />
    <link
      href="./resurse/css/nav_small.css"
      rel="stylesheet"
      media="screen and (max-width: 700px)"
      type="text/css"
    />
    <link href="./resurse/css/colors.css" rel="stylesheet" type="text/css" />
    <link href="./resurse/css/iframe.css" rel="stylesheet" type="text/css" />
    <link href="./resurse/css/link_top.css" rel="stylesheet" type="text/css" />
    <link href="./resurse/css/footer.css" rel="stylesheet" type="text/css" />
    <link href="./resurse/css/tabel.css" rel="stylesheet" type="text/css" /> -->

    <!-- Font Awesome
    <script
      src="https://kit.fontawesome.com/63313db439.js"
      crossorigin="anonymous"
    ></script> -->

    <!-- Google Fonts
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    /> -->

    <%- include("../fragmente/head.ejs"); %>
  </head>

  <body>
    <!-- <header>
      <h1>AutoTrade</h1>
    </header>

    <nav>
      <label id="hamburger" for="ch-menu">
        <img src="./resurse/imagini/Hamburger_icon_alb.png" />
      </label>
      <input id="ch-menu" type="checkbox" />
      <ul class="menu">
        <li class="">
          <div><i class="fa-solid fa-house-chimney fa-sm"></i> Acasa</div>
          <div><i class="fa-solid fa-house-chimney fa-sm"></i></div>
          <ul>
            <li>
              <a href="#despre">Despre site</a>
            </li>
            <li>
              <a href="#anunturi_noi">Anunturi noi</a>
            </li>
            <li><a href="#faq">FAQ</a></li>
            <li>
              <a href="#informatii_utile">Informatii utile</a>
            </li>
          </ul>
        </li>
        <li class="">
          <div><a href="">Masini</a></div>
        </li>
        <li class="">
          <div><a href="">Ghiduri</a></div>
        </li>
        <li class="">
          <div>Inregistrare</div>
          <ul>
            <li><a href="">Log In</a></li>
            <li><a href="">Sign Up</a></li>
            <li>
              <a href="">Contul meu</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>  -->
    <%- include("../fragmente/header.ejs"); %>

    <main>
      <div id="banner">
        <p>Acesta este un proiect scolar</p>
      </div>

      <div id="watermark">
        <p>Stefan Popa</p>
      </div>

      <div id="grid_main">
        <div id="grid_main_area_1">
          <section id="despre">
            <h2>Despre site</h2>
            <div class="print_display_none">
              <video
                width="500"
                height="auto"
                poster="resurse/imagini/trafic_frame_1.jpg"
                preload="metadata"
                autoplay
                controls
              >
                <source
                  src="resurse/videoclipuri/trafic.mp4"
                  type="video/mp4"
                />
                <source
                  src="resurse/videoclipuri/trafic.ogv"
                  type="video/ogv"
                />
                <track
                  default
                  kind="captions"
                  src="resurse/vtt/trafic_ro.vtt"
                  srclang="ro"
                  label="Romanian"
                />
                <track
                  kind="subtitles"
                  src="resurse/vtt/trafic_en.vtt"
                  srclang="en"
                  label="English"
                />
                Browser-ul tau nu suporta tag-ul video.
              </video>
            </div>
            <div>
              Ce vei vedea pe acest site: <b>anunturi cu masini de vanzare</b>.
              Multitudinea de filtre iti va permite sa te concentrezi pe
              produsele care corespund cu dorintele tale, sa sortezi dupa
              diferite criterii si chiar sa compari diferite optiuni. Aici poti
              gasi o oferta variata, de la masini de familie si
              <i>hatchback</i>-uri, pana la masini sport concepute pentru
              performanta si viteza.
            </div>

            <div id="grid_caroserii">
              <div id="grid_caroserii_suv" class="print_display_none">
                <figure>
                  <figcaption>SUV</figcaption>
                  <img
                    src="./resurse/imagini/mercedes_benz_g_class_side_picture.png"
                    alt="Mercedes-Benz G Class"
                  />
                </figure>
              </div>
              <div id="grid_caroserii_estate" class="print_display_none">
                <figure>
                  <figcaption>Estate</figcaption>
                  <img
                    src="./resurse/imagini/audi_s6_avant_side_picture.png"
                    style="transform: scaleX(-1)"
                    alt="Audi S6 Avant"
                  />
                </figure>
              </div>
              <div id="grid_caroserii_sedan" class="print_display_none">
                <figure>
                  <figcaption>Sedan</figcaption>
                  <img
                    src="./resurse/imagini/volvo_s90_side_picture.png"
                    alt="Volvo S90"
                  />
                </figure>
              </div>
              <div id="grid_caroserii_coupe" class="print_display_none">
                <figure>
                  <figcaption>Coupe</figcaption>
                  <img
                    src="./resurse/imagini/bmw_m4_f80_side_picture.png"
                    alt="Bmw M4"
                  />
                </figure>
              </div>
              <div id="grid_caroserii_cabriolet" class="print_display_none">
                <figure>
                  <figcaption>Cabriolet</figcaption>
                  <img
                    src="./resurse/imagini/porsche_718_spyder_side_picture.png"
                    style="transform: scaleX(-1)"
                    alt="Porsche 718 Spyder"
                  />
                </figure>
              </div>
              <div id="grid_caroserii_hatchback" class="print_display_none">
                <figure>
                  <figcaption>Hatchback</figcaption>
                  <img
                    src="./resurse/imagini/vw_golf_gti_blanc_pur_side_picture.png"
                    alt="Volkswagen Golf 7 GTI"
                  />
                </figure>
              </div>
            </div>

            <section id="despre_ghiduri">
              <h3>Ghiduri</h3>
              <div>
                Este de inteles ca nu este tocmai usor sa alegi varianta
                potrivita din multimea de modele si producatori, asa ca am
                pregatit o
                <a href="">pagina speciala</a> pentru a te ajuta sa cumperi
                responsabil. Aici postam diferite resurse ce te ajuta sa
                intelegi care sunt diferentele dintre diferitele stiluri de
                caroserie, dintre variantele de motorizare, cu scopul de a oferi
                cat mai multe informatii asupra acestor aspecte. Totodata pe
                aceasta pagina se afla <i>review</i>-uri,
                <a href="https://autocosturi.ro/" target="_blank"
                  >calculatoare de costuri</a
                >
                dar si link-uri catre unele dintre cele mai cunoscute si
                importante pagini web din lumea automobilelor.
              </div>
              <div class="flex-iframe-container">
                <div class="flex-iframe-link-container">
                  <a
                    href="https://www.youtube.com/embed/oVLd2TMeO7c"
                    target="display_ghiduri"
                    class="print_display_none"
                    >Estate vs SUV</a
                  >
                  <a
                    href="https://www.youtube.com/embed/UmoGULPLPOc"
                    target="display_ghiduri"
                    class="print_display_none"
                    >Car shapes explained</a
                  >
                  <a
                    href="https://www.youtube.com/embed/aGK7XPNFhpQ"
                    target="display_ghiduri"
                    class="print_display_none"
                    >Reliable exotic cars</a
                  >
                </div>
                <iframe
                  src="https://www.youtube.com/embed/oVLd2TMeO7c"
                  name="display_ghiduri"
                  class="print_display_none"
                ></iframe>
              </div>
            </section>

            <section id="masini_vandute">
              <h3>Ultimele masini vandute</h3>

              <!-- <div class="galerie_statica">
                <% for(let imagine of locals.imagini) { %>
                <figure>
                  <picture>
                    <source
                      srcset="<%- imagine.mic %>"
                      media="(max-width: 700px)"
                    />
                    <source
                      srcset="<%- imagine.mediu %>"
                      media="(max-width: 1024px)"
                    />
                    <img src="<%- imagine.mare %>" alt="text alternativ" />
                  </picture>
                  <figcaption><%- imagine.descriere %></figcaption>
                </figure>
                <% } %>
              </div> -->
              <%- include("../fragmente/galerie_statica.ejs") %>
            </section>
          </section>
        </div>

        <div id="grid_main_area_2">
          <section id="tipuri_caroserie">
            <h2>Tipuri de caroserie</h2>

            <div id="container_tabel">
              <table id="tabel_main">
                <tr>
                  <th>Tip</th>
                  <th>Tip caroserie</th>
                  <th>Numar anunturi</th>
                  <th>Pret mediu</th>
                  <th>Pret minim</th>
                </tr>
                <tr>
                  <td rowspan="4">Family</td>
                  <td>SUV</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Estate</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Sedan</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Hatchback</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td rowspan="2">Sport</td>
                  <td>Coupe</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Cabriolet</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tfoot>
                  <td colspan="2" style="text-align: center">Total</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tfoot>

                <caption>
                  Caption tabel
                </caption>
              </table>
            </div>
          </section>
        </div>

        <div id="grid_main_area_3">
          <section id="calendar_evenimente">
            <h2>Calendar evenimente</h2>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed
              nibh in ipsum mattis ullamcorper sed et eros. Cras viverra
              tincidunt sem ut pulvinar. Aliquam ut vehicula erat. Interdum et
              malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi.
              Donec tincidunt nec elit sit amet auctor. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia curae;
            </div>
          </section>
        </div>

        <div id="grid_main_area_4">
          <section id="anunturi">
            <h2>Anunturi</h2>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed
              nibh in ipsum mattis ullamcorper sed et eros. Cras viverra
              tincidunt sem ut pulvinar. Aliquam ut vehicula erat. Interdum et
              malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi.
              Donec tincidunt nec elit sit amet auctor. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia curae;
            </div>
          </section>
        </div>
        <div id="grid_main_area_5">
          <section id="utilizatori_online">
            <h2>Utilizatori online</h2>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed
              nibh in ipsum mattis ullamcorper sed et eros. Cras viverra
              tincidunt sem ut pulvinar. Aliquam ut vehicula erat. Interdum et
              malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi.
              Donec tincidunt nec elit sit amet auctor. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia curae;
            </div>
          </section>
        </div>
        <div id="grid_main_area_6">
          <section id="date_utilizatori">
            <h2>Date despre utilizator si statistici</h2>
            <div>
              <p>Adresa IP: <%- locals.ip %></p>

              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed
              nibh in ipsum mattis ullamcorper sed et eros. Cras viverra
              tincidunt sem ut pulvinar. Aliquam ut vehicula erat. Interdum et
              malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi.
              Donec tincidunt nec elit sit amet auctor. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia curae;
            </div>
          </section>
        </div>
        <div id="grid_main_area_7">
          <section id="date_site_server">
            <h2>Date despre site si server</h2>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed
              nibh in ipsum mattis ullamcorper sed et eros. Cras viverra
              tincidunt sem ut pulvinar. Aliquam ut vehicula erat. Interdum et
              malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi.
              Donec tincidunt nec elit sit amet auctor. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia curae;
            </div>
          </section>
        </div>

        <div id="grid_main_area_8" class="print_display_none">
          <section id="anunturi_noi">
            <h2>Anunturi noi</h2>
            <picture>
              <source
                media="(max-width:600px)"
                srcset="./resurse/imagini/highway_background_300.jpg"
              />
              <source
                media="(max-width:960px)"
                srcset="./resurse/imagini/highway_background_600.jpg"
              />
              <img
                src="./resurse/imagini/highway_background_960.jpg"
                alt="Highway intersection"
              />
            </picture>
          </section>

          <section id="faq">
            <h2>FAQ</h2>
            <details>
              <summary>Q: Ce masini sunt expuse la reprezentanta?</summary>
              A: <strong> Seria de masini expuse se schimba saptamanal</strong>,
              dar daca doriti sa vedeti un model anume anuntati-ne prin
              telefon/mail cu cel putin o zi inainte.
            </details>
            <details>
              <summary>
                Q: Pot sa configurez prin intermediul AutoTrade o masina noua?
              </summary>
              A: Da, AutoTrade pune la dispozitie configuratoare pentru modelele
              actuale produse de Audi, BMW, Mercedes-Benz, Porsche. Configuratia
              o puteti realiza de la sediul nostru iar noi o trimitem mai
              departe la cea mai apropiata reprezentanta.
            </details>
            <details>
              <summary>
                Q: Oferiti servicii de intretinere/service pentru masini?
              </summary>
              A: Nu, ne ocupam in principal de partea de vanzare. In schimb
              oferim consultanta in aceasta privinta, fie punandu-va in legatura
              cu parteneri de-ai nostri, fie punandu-va la dispozitie resurse
              online, pe care le puteti gasi si pe pagina noastra de
              <a href="">ghiduri</a>.
            </details>
          </section>
        </div>
      </div>
    </main>

    <!-- <footer>
      <div class="link-top">
        <a href="#top" title="Mergi la inceput">
          <div>
            <div class="link-top-triangle"></div>
          </div>
        </a>
      </div>

      <section id="informatii_utile">
        <h2>Informatii utile</h2>
        <section id="contact">
          <h3>Contact</h3>
          <p>
            Pentru mai multe informatii folositi urmatoarele date de contact:
          </p>
          <address>
            <ul>
              <li>
                <a href="tel:+40123456789">
                  <i class="fa-solid fa-mobile-screen-button"></i> Telefon:
                  +40123456789
                </a>
              </li>
              <li>
                <a href="https://wa.me/+40123456789" target="_blank">
                  <i class="fa-brands fa-whatsapp"></i> Whatsapp: +40123456789
                </a>
              </li>
              <li>
                <a href="mailto:popashtefan10@gmail.com">
                  <i class="fa-solid fa-envelope"></i> Mail:
                  popashtefan10@gmail.com
                </a>
              </li>
              <li>
                <a href="https://goo.gl/maps/g7aR9Ti747Fi2gBB8" target="_blank">
                  <i class="fas fa-compass fa-spin"></i> Locatie:
                </a>
                <br />
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d712.2210747731951!2d26.099062719362447!3d44.43553551305406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Informatics%20-%20University%20of%20Bucharest!5e0!3m2!1sen!2sro!4v1645606091505!5m2!1sen!2sro"
                  width="400"
                  height="225"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                ></iframe>
              </li>
            </ul>
          </address>
        </section>

        <section id="program">
          <h3>Program</h3>
          <ul>
            <li><p>Luni-Vineri: 09:00-19:00</p></li>
            <li><p>Sambata: 09:00-17:00</p></li>
            <li><p>Duminica: inchis</p></li>
          </ul>
        </section>

        <section id="termeni_si_conditii">
          <h3>Termeni si conditii</h3>
          <p>
            De aici puteti descarca
            <a href="./resurse/termeni_si_conditii/Termeni_si_conditii.docx"
              >Termenii si conditiile</a
            >
            pentru folosirea site-ului AutoTrade.
          </p>
        </section>
      </section>

      <p>
        <small
          >Copyright &copy;
          <time datetime="2022-02-26">Februarie 2022</time> Stefan Popa</small
        >
      </p>
    </footer> -->
    <%- include("../fragmente/footer.ejs"); %>
  </body>
</html>
